<h1>All Gyms</h1>

<% @gyms.each do |gym| %>
  <p>Gym Name: <%= gym.name %></p>
 <!--  <p>Gym Is Open 24/7: <%= gym.always_open %></p>
  <p>Gym Has <%= gym.num_of_platforms %> Platforms</p> -->
<% end %>